*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('./../images/drapeau.jpg') center no-repeat;
    background-size:  cover;
}

#theField{
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 20px
}

button{
    border-radius: 10px;
    background: red;
    border: 0;
    cursor: pointer;
    color: white;
    display: block;
    margin: auto;
    padding: 10px;
}
